<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.maoxian.reborn-quota</string>
    <key>ProgramArguments</key>
    <array>
        <string>__APP_EXECUTABLE__</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>CODEX_CLI_PATH</key>
        <string>__CODEX_CLI_PATH__</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ThrottleInterval</key>
    <integer>30</integer>
</dict>
</plist>
